tmp
Gemfile.lock
.bundle
ports
concourse/private.yml
concourse/mini_portile.final.yml
public/uploads/*
log/*
pkg/*
spec/support/*/Gemfile.lock
spec/support/*/public/javascripts
.ruby-version
imports/*
vendor/bundle/*
/config/master.key
